body {
  min-width: 320px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #4b4949;
  background-color: #ffffff98;
}